<!-- Image and text -->
<nav class="navbar navbar-light text-white" style="background-color:rgb(46, 71, 104)">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand m-0 text-white" routerLink="/home">
            <i class="fas fa-mail-bulk"></i>
            BuzonApp
        </a>

        <a class="navbar-brand m-0 text-white" routerLink="/login" *ngIf="!estaAutenticado()">
            Login
        </a>

        <a class="navbar-brand m-0 text-white" style="cursor:pointer" *ngIf="estaAutenticado()"
            (click)="auth.logout()">
            Cerrar sessión
        </a>
    </div>
</nav>