*, *::after, *::before {
    box-sizing: border-box;
}

textarea, input, select, button {
    box-shadow: none !important;
}

textarea:focus, input:focus, select:focus, button:focus {
    border: 1px solid rgb(46, 71, 104) !important;
}


textarea {
    font-size: 14px;
}

button {
    border: 1px solid rgb(46, 71, 104) !important;
    color: rgb(46, 71, 104) !important;
}

button:hover {
    background-color: rgb(46, 71, 104) !important;
    color: #fff !important;
}

input[type="radio"]:checked {
    background-color: rgb(46, 71, 104);
}

.container-fluid {
    width: 95% !important;
    margin-left: auto;
    margin-right: auto;
}


.login {
    width: 360px;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
}